regex
unicodecsv
enum34
numpy
rpyc
pudb
recordclass
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.1-cp27-none-linux_x86_64.whl
https://github.com/kpu/kenlm/archive/master.zip
git+https://github.com/ufal/pytreex
